ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #46055a;


}
ul li a{
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}
ul li a:hover{
    background: #8210a5;
}

.heading{
    font-size: 200%;
}
.bigtext{
    font-family: 'Bloody Modes', sans-serif; 
}
.text{
    font-family:'Trebuchet MS', sans-serif;
    font-size: 20px;
}